{
  "extends": ["standard", "plugin:vue/recommended"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": ["error", "always"]
  }
}
